In [1]:
import pandas as pd
import csv

In [2]:
csvFile = 'pos_pmAjRQZ.csv'
df = pd.read_csv(csvFile)
df

   Pos Transaction id     Product  Quantity       Customer        Date
0    1           E100          Tv         1  Test Customer  2021-03-12
1    2           E100      Laptop         3  Test Customer  2021-03-12
2    3           E200          Tv         1  Test Customer  2021-03-13
3    4           E300  Smartphone         2   New Customer  2021-03-14
4    5           E300      Laptop         5   New Customer  2021-03-14
5    6           E300          Tv         1  Test Customer  2021-03-14
6    7           E400          Tv         2            ABC  2021-03-15
7    8           E500  Smartphone         4            ABC  2021-03-16

In [4]:
df.Pos

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: Pos, dtype: int64